header
	&#header
		&.header
			//padding 0 2rem
			text-align center
			
+above(l)
	header
		&#header
			&.header
				display flex
				align-items center
				justify-content space-between
				text-align left